# YCloudApiClient::VerificationStatus

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |

## Example

```ruby
require 'ycloud_api'

instance = YCloudApiClient::VerificationStatus.new()
```

